<app-create-and-update-post [post]="postSelected" (onSubmit)="onSubmit($event)" />

<table class="table table-dark table-hover my-5">
    <thead>
        <tr>
            <th>ID</th>
            <th>USER ID</th>
            <th>TITLE</th>
            <th>BODY</th>
            <th>ACTIONS</th>

        </tr>
    </thead>
    <tbody>
        @for (post of listPosts$ | async ; track post.id) {
        <tr>
            <td>{{ post.id }}</td>
            <td class="col-md-2 text-center">{{ post.userId }}</td>
            <td class="fs-3">{{ post.title }}</td>
            <td class="col-md text-center">{{ post.body }}</td>
            <td class="grid text-center ">
                <button class="btn btn-info my-3" (click)="selectPost(post)"><i
                        class="bi bi-pencil-square "></i></button>
                <button class="btn btn-danger" (click)="deletePost(post)"><i class="bi bi-trash-fill"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>